[Desktop Entry]
Type=Application
Name=UniApp
Comment=Servizi universitari
Exec=uniapp
Icon=uniapp
Terminal=false
Categories=Education;
StartupWMClass=com.anto426.uniapp.desktop.MainKt
