*.iml
.env
.env.*
!.env.example
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
key/
androidApp/google-services*.json
__pycache__/
*.pyc
.gradle-user-home
.gradle-verify-home*/
.tmp
raw
!androidApp/src/main/res/raw/
!androidApp/src/main/res/raw/network_security_no_system_ca.pem
!androidApp/src/main/res/raw/tls_bundle_signing_public_key.pem
